.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 7%;
  width: 100%;
  background-color: rgb(0, 174, 255);
  color: white;
  text-align: center;
}

.texalign {
  padding-top: 100px;
  text-align: center;
}
